<head>
    <title><%= options.title %></title>
    <meta charset="utf-8">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <link rel="stylesheet" href="/styles/style.css">
</head>