<!DOCTYPE html>
<html>
<%- include ./common/head.ejs %>
<body>
<main class="wrapper flex-col flex-center">
    <h1><%= error %></h1>
    <h2><%= message %></h2>
</main>
<%- include ./common/footer.ejs %>
<script src="/scripts/script.js"></script>
</body>
</html>